body {
  background-color: rgb(255, 254, 235)
}
</* NOTE: the piece of code above has been used to change the overall background colour */

p {
  height: 200px;
  wideth: 400px;
  background: rgb(255, 254, 235)

  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: 200px;
}
</* NOTE: this is an attempt to change the position of the title on the screen... we would like to centre it, but at the moment it has just moved down for some reason */
